<template lang="pug">
  div
    page_header(title="Roles", subhead="Add New")
      router-link.btn.btn-primary.ml-3.d-none.d-sm-inline-block(:to='{name: "roles.index"}')
        i.feather-arrow-left
        | Back
    
    .row
      .col-sm-12
        form.card(@submit.prevent="submit" :class="sending?'loading':''")
          .card-body.border-bottom.p-5
            .row
              .col-sm-6
                form_input(type="text", name="name", label="Name", placeholder="Enter Role Name" v-model="form.name")
              .col-sm-6
                form_input(type="text", name="description", label="Description", placeholder="Enter Description" v-model="form.description")
            .row
              .col-md-3(v-for="permission in permissions")
                label.custom-control.custom-checkbox.custom-control-inline
                  input.custom-control-input(type='checkbox' name='permissions[]' :value='permission.id' v-model="form.permissions")
                  span.custom-control-label {{permission.name}}
            .d-flex.align-items-center
              a.btn.btn-link Back
              loadingBtn.ml-auto(type="submit" :disabled='sending') Save

  
      

</template>

<script>
// @ is an alias to /src

import page_header from '@/components/pageHeader'
import form_input from '@/components/formInput'
import loadingBtn from '@/components/loadingBtn'
import { mapActions, mapState } from 'vuex'
export default {
  name: 'Roles',
  components: {
    page_header: page_header,
    form_input,
    loadingBtn
  },
  data(){
    return {
      permissions: [],
      form: {
        name: '',
        description: '',
        permissions: []
      },
      blank: {
        name: '',
        description: '',
        permissions: []
      }
    }
  },
  computed: {
    ...mapState('api', ['errors', 'sending'])
  },
  methods:{
    resetForm(){
      this.form = JSON.parse(JSON.stringify(this.blank));
    },
    submit(){
      var vm = this;
      this.call({_vm:this, endpoint: 'admin/roles', method: 'POST', data: this.form}).then(()=>{
        vm.resetForm();
      })
    },
    ...mapActions('api', ['call'])
  },
  mounted(){
    var vm = this;
    this.call({_vm: vm, endpoint: 'admin/roles/create', method: 'GET'}).then((data)=>{
      vm.permissions = data;
    })
  }
}
</script>
