<template lang="pug">
  div
    page_header(title="Roles", subhead="Overview")
      router-link.btn.btn-primary.ml-3.d-none.d-sm-inline-block(:to='{name: "roles.create"}')
        i.feather-plus
        | Add New
    .row
      .col-sm-12
        .card(:class="sending?'loading':''")
          .card-body.border-bottom.py-3
            .d-flex
              per_page.text-muted(v-model="form.perPage" @input="form.page=1;load_data()")
              table_filter.ml-auto.text-muted(v-model="form.searchParam" :items="['name', 'description']" @input="load_data()")
              search.ml-3.text-muted(v-model="form.query" @search="form.page=1;load_data()")

          .table-responsive
            table.table.card-table.table-vcenter.text-nowrap.datatable
              thead
                tr
                  th Name
                  th Description
                  th
                  th

              tbody
                tr(v-for="role in roles.data")
                  td {{role.name}}
                  td {{role.description}}
                  td.w-1
                    router-link(:to="role.id+'/edit'" v-if="user.user.permissions.includes('admin:role:edit')")
                      i.feather-edit
                  td.w-1
                    a(href="#" @click.prevent="delete_item(role.id)" v-if="user.user.permissions.includes('admin:role:delete')")
                      i.feather-trash

          pagination.card-footer.d-flex.align-items-center(:data="roles", :page="form.page" @change="change_page")
  
</template>

<script>
// @ is an alias to /src

import page_header from '@/components/pageHeader'
import pagination from '@/components/pagination'
import perPage from '@/components/perPage'
import search from '@/components/search'
import filter from '@/components/filter'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Roles',
  data(){
    return {
      roles: [],
      form: {
        perPage : 10,
        searchParam: 'name',
        query: '',
        page:1
      }
    }
  },
  components: {
    page_header: page_header,
    pagination,
    per_page: perPage,
    search,
    table_filter: filter
  },
  computed: {
    ...mapState('api', ['sending']),
    ...mapState('auth', ['user'])
  },
  methods:{
    load_data(){
      var vm = this;
      this.call({ _vm: this, endpoint:'admin/roles', method: 'GET', params: this.form })
        .then((response)=>{
          vm.roles = response.data;
          vm.form.searchParam = response.searchParam;
          vm.form.query = response.query;
          vm.form.perPage = response.perPage;
          vm.form.page = response.data.current_page;
        });
    },
    delete_item(id){
      var vm = this;
      if(confirm('Are you sure?')){
        this.call({_vm: this, endpoint:'admin/roles/'+id, method: 'DELETE'}).then(()=>{
          vm.load_data();
        })
      }
    },
    change_page(page){
      this.form.page = page;
      this.load_data();
    },
    ...mapActions('api', ['call']),
  },
  mounted(){
    this.load_data();
  }
}
</script>
