<template lang="pug">
  page
    .flex-fill.d-flex.flex-column.justify-content-center
      .container-tight.py-6
        .text-center.mb-4
          img(src="@/assets/logo.png")
          //- h2 Portal
        form.card.card-md(action="#" method="post" @submit.prevent="loginAction()")
          //- input(name="_token" :value="csrf_token" type="hidden")
          .card-body
            h2.mb-5.text-center Travel Reimbursement
            form_input(v-model="user.name" label="Your Name" :required="true")
            form_input(v-model="user.designation" label="Your Designation" :required="true")
            form_select(label="Grade" v-model="user.grade" :options='[{value:"1", label: "Grade I (Project Director/ Manager and Above)"},{value:"2", label: "Grade II (Assistant Manager/ Project Cordinator and Equivalent)"},{value:"3", label: "Grade III (Project Executive and Below)"}]')

            .form-footer.text-center
              .d-flex
                loading_btn.ml-auto(type='submit' :loading="sending") Sign in

</template>

<script>
import { mapState, mapActions } from 'vuex'
import loadingBtn from '@/components/loadingBtn';
import form_input from '@/components/formInput';
import form_select from '@/components/formSelect';
import form_error from '@/components/formErrors';
import page from '@/components/page_blank';

export default {
  components:{
    'loading_btn': loadingBtn,
    form_error,
    page,
    form_input,
    form_select
  },
  data(){
    return {
      user: {
        name: '',
        designation: '',
        grade: null,
      },
    }
  },
  computed: {
    ...mapState('api', ['errors','sending']),
  },
  methods:{
    loginAction(){
      localStorage.setItem('user', JSON.stringify(this.user));
      this.save_user(this.user);
      this.$router.push({name: 'Order'});
    },
    ...mapActions('travel',['save_user', 'load_user','checkauth'])
  },
  mounted(){
    var vm = this;
    this.load_user().then(function(){
      vm.checkauth().then(function(){
        vm.$router.push({name:'Order'});
      })
    });
    
  }
}
</script>

<style lang="scss" scoped>
.card{
  background: transparent;
  border: none;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.125);
}
</style>