<template lang="pug">
  page
    .flex-fill.d-flex.flex-column.justify-content-center
      .container-tight.py-6
        .text-center.mb-4
          img(src="@/assets/logo.png")
          //- h2 Portal
        form.card.card-md(action="#" method="post" @submit.prevent="loginAction()")
          //- input(name="_token" :value="csrf_token" type="hidden")
          .card-body
            form_input(v-model="order.number" label="Travel Order Number" placeholder="KSUM/XX/YYYY" :required="true")
            .mb-3
              label.form-label Order Sanction Date
              datepicker(v-model="order.date" format="YYYY-MM-DD" formatted="DD MMM YYYY" :no-label="true" :only-date="true")
            form_input(v-model="order.purpose" label="Purpose of Travel" placeholder="Purpose of Travel" :required="true")

            .form-footer.text-center
              .d-flex
                input.special-form(type='file' ref='filecontrol' @change='selectedFile')
                loading_btn.ml-auto(type='submit') Submit

</template>

<script>
import { mapState, mapActions } from 'vuex'
import loadingBtn from '@/components/loadingBtn';
import form_input from '@/components/formInput';
import form_select from '@/components/formSelect';
import form_error from '@/components/formErrors';
import page from '@/components/page_blank';
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';
var CryptoJS = require("crypto-js");

export default {
  components:{
    'loading_btn': loadingBtn,
    form_error,
    page,
    form_input,
    form_select,
    datepicker: VueCtkDateTimePicker,
  },
  data(){
    return {
      order: {
        number: '',
        date: '',
        purpose:'',
      },
    }
  },
  methods:{
    loginAction(){
      var vm = this;
      this.save_order({vm});
    },
    selectedFile() {      
      let file = this.$refs.filecontrol.files[0];
      var vm = this;
      let reader = new FileReader();
      reader.readAsText(file, "UTF-8");
      reader.onload =  evt => {
        var text = evt.target.result;

        var bytes  = CryptoJS.AES.decrypt(text, '0123456789');
        var decryptedData = JSON.parse(bytes.toString(CryptoJS.enc.Utf8));

        // console.log(decryptedData);
        // this.user = decryptedData.user;
        // this.order = decryptedData.order;
        // this.travel = decryptedData.travel;
        // this.da = decryptedData.da;

        vm.open_file({vm, data:decryptedData});

      }
      reader.onerror = evt => {
        console.error(evt);
      }
    },
    ...mapActions('travel',['save_order','open_file','checkauth'])
  },
  mounted(){
    var vm = this;
    this.checkauth().then(function(){
      
    }).catch(function(){
      vm.$router.push({name:'Login'});
    })
  }
}
</script>

<style lang="scss" scoped>
.special-form {
  opacity: 1;
  color: transparent;
  &:focus{
    outline: none;
  }
  &::before{
    content: 'Use Previously Saved File';
    display: inline-block;
    color: #666;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    background: transparent;
  }
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}
.card{
  background: transparent;
  border: none;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.125);
}
.form-control{
  background: transparent;
}
</style>