<template lang="pug">
  page
    .row
      .col-sm-3
        .details.mx-5.py-5.mt-5
          img.img-fluid.mb-3(src='../assets/logo.png')
          .text-center.mb-3 {{user.name}}
            span.ml-2
              i.feather-edit(@click="openEditUser()")
          .text-muted.text-center.mb-3 {{user.designation}}
          .text-center.mb-3 {{order.number}}
            span.ml-2
              i.feather-edit(@click="openOrderUser()")
          .text-muted.text-center.mb-3 {{$moment(order.date).format('DD-MMM-YYYY')}}
      
      .col-sm-6
        .list.list-row.list-hoverable.mt-5
          .card.list-item(v-for="item in travel")
            
            .text-truncate.w-30
              .small.d-block.text-muted.text-truncate {{$moment(item.origin.date).format('DD-MMM-YYYY HH:mm')}}
              .small.d-block.text-muted.text-truncate {{$moment(item.destination.date).format('DD-MMM-YYYY HH:mm')}}
            .text-truncate.w-25
              .small.d-block.text-muted.text-truncate {{item.origin.location}}
              .small.d-block.text-muted.text-truncate {{item.destination.location}}
            .text-center.w-10
              .small.d-block.text-truncate {{item.mode}}
              .small.d-block.text-truncate 
                b {{item.distance}} {{item.distance?'Kms':""}}
            .text-right.w-10
              .small.d-block.text-truncate 
                b Rs. {{item.claimed}}
              .small.d-block.text-truncate 
                b Rs. {{item.incidental}}
            .text-truncate.text-right.w-20
              h3 Rs. {{(parseFloat(item.claimed) + parseFloat(item.incidental)).toFixed(2)}}
            
            .list-item-actions.text-right
              a.mr-2(href='#' @click.prevent="openurl(item.file.file)" v-if="item.file")
                i.feather-download
              a(href='#' @click.prevent="deleteTravel(item)")
                i.feather-x
        
        .list.list-row.list-hoverable.mt-5
          .card.list-item(v-for="item in da")
            .text-truncate.w-30
              .small.d-block.text-muted.text-truncate {{$moment(item.start).format('DD-MMM-YYYY HH:mm')}} 
              .small.d-block.text-muted.text-truncate {{$moment(item.end).format('DD-MMM-YYYY HH:mm')}}
            .text-truncate.w-25
              .small.d-block.text-muted.text-truncate {{item.location}}
            .text-truncate.w-10.text-center
              .small Halt
              .small.d-block.text-truncate 
                b {{calculateDuration(item)}} Hrs
            .text-truncate.w-10.text-right
              .small.d-block.text-truncate 
                b Rs. {{item.cost}}
              .small.d-block.text-truncate 
                b {{calulateDA(item)}}
            .text-truncate.text-right.w-20
              h3 Rs. {{(parseFloat(item.cost) + parseFloat(calulateDA(item))).toFixed(2)}}
            a.list-item-actions(href='#' @click.prevent="deleteDA(item)") x

        div.text-right(v-if="travel_total+da_total>0")
          h1.text-right.mr-5
            | Total : 
            | {{parseFloat(travel_total+da_total).toFixed(2)}}
          
        .d-flex
          a.btn.btn-warning.mr-2(href="#" @click="save" v-if="travel_total+da_total>0" v-tooltip="'A file will be downloaded. Upload this file next time to complete the claim you were working on.'") Save for later
          input.form-file-input.special-form(type='file' ref='filecontrol' @change='selectedFile' v-tooltip="'Click here to upload the previously downloaded file to continue from where you left off last time.'")
          a.btn.btn-info.mr-5.ml-auto(href="#" @click="generate_pdf" v-if="travel_total+da_total>0" v-tooltip="'Submit the downloaded PDF in HR portal against your travel order for claiming your reimbursement.'") 
            .spinner-border.spinner-border-sm.mr-2(v-if="merging")
            | Export PDF

      .col-sm-3
        .card.mx-5.mt-5
          .card-body
            .mb-3.mt-3
              a.btn.btn-primary.d-block(href="#" @click="openModal('#modal-train')") Add Train
            .mb-3
              a.btn.btn-primary.d-block(href="#" @click="openModal('#modal-flight')") Add Flight
            .mb-3
              a.btn.btn-primary.d-block(href="#" @click="openModal('#modal-car')") Add Own Vehicle/Cab
            .mb-3
              a.btn.btn-primary.d-block(href="#" @click="openModal('#modal-local')") Add Local Travel
            .mb-3
              a.btn.btn-primary.d-block(href="#" @click="openModal('#modal-da')") Add Halt
          
      modal#modal-user(title="User Details" @save="saveUser")
        form_input(v-model="edituser.name" label="Your Name" :required="true")
        form_input(v-model="edituser.designation" label="Your Designation" :required="true")
        form_select(label="Grade" v-model="edituser.grade" :options='[{value:"1", label: "Grade I (Project Director/ Manager and Above)"},{value:"2", label: "Grade II (Assistant Manager/ Project Cordinator and Equivalent)"},{value:"3", label: "Grade III (Project Executive and Below)"}]')

      modal#modal-order(title="Travel order Details" @save="saveOrder")
        form_input(v-model="editorder.number" label="Travel Order Number" :required="true")
        .mb-3
          label.form-label Order Sanction Date
          datepicker(v-model="editorder.date" format="YYYY-MM-DD" formatted="YYYY-MM-DD" :only-date="true" :no-label="true" input-class="form-control" :required="true" :noLabel="false")

      modal#modal-train(title="Travel Train/Bus" @save="saveTrain" size="modal-lg")
        .row
          .col-sm-6
            form_input(v-model="entry.origin.location" label="Origin" :required="true")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.origin.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-6
            form_input(v-model="entry.destination.location" label="Destination" :required="true")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.destination.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-3.col-6
            form_input(v-model="entry.distance" type="number" label="Distance (km)" :required="true")
          .col-sm-3.col-6
            .mb-3
              label.form-label Incidental
              .form-control-plaintext Rs. {{calc_incidental(entry.distance)}}
          .col-sm-2.col-6
            .mb-3
              label.form-label Claim Ticket
              label.form-check.form-switch
                input.form-check-input(type='checkbox' v-model="entry.claim")
          .col-sm-4.col-6
            form_input(v-model="entry.amount" type="number" label="Ticket Amount" v-if="entry.claim" :required="true")
        .row(v-if="entry.claim")
          .col-sm-6
          .col-sm-6
            form_file(v-model="entry.file" label="Attach Ticket" :required="true")


      modal#modal-flight(title="Flight Travel" @save="saveFlight" size="modal-lg")
        .row
          .col-sm-6
            form_input(v-model="entry.origin.location" label="Origin" :required="true")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.origin.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-6
            form_input(v-model="entry.destination.location" label="Destination" :required="true")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.destination.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-4
            form_input(v-model="entry.amount" type="number" label="Ticket Amount" :required="true")
          .col-sm-8
            form_file(v-model="entry.file" label="Attach Ticket" :required="true")
            

      modal#modal-car(title="Travel Own Vehicle/ Cab" @save="saveCar" size="modal-lg")
        .row
          .col-sm-6
            .mb-3
              label.form-label Origin
              place_search(v-model="entry.origin.location")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.origin.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-6
            .mb-3
              label.form-label Destination
              place_search(v-model="entry.destination.location")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.destination.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-3.col-6
            .mb-3
              label.form-label 
                | Distance (km)
              .form-control-plaintext {{entry.distance}} {{entry.distance?'Kms':""}}
                a.renew.ml-3(href="#" @click.prevent="calculate_distance" v-if="entry.origin.location&&entry.destination.location&&!calc") 
                  i.feather-refresh-cw
          .col-sm-3.col-6
            .mb-3
              label.form-label Incidental
              .form-control-plaintext Rs. {{calc_incidental(entry.distance)}}
          .col-sm-2.col-6
            .mb-3(v-if="user.grade==1")
              label.form-label Claim Travel
              label.form-check.form-switch
                input.form-check-input(type='checkbox' v-model="entry.claim")
          .col-sm-4.col-6
            .mb-3(v-if="entry.claim")
              label.form-label Amount
              .form-control-plaintext Rs. {{entry.distance?(entry.distance * 8.5).toFixed(2):0}}
        .row(v-if="entry.claim")
          .col-sm-6
          .col-sm-6
            form_input(v-model="entry.cotraveller" type="text" label="Co-Travellers" :required="true") 
      
      modal#modal-local(title="Local Travel" @save="saveLocal" size="modal-lg")
        .row
          .col-sm-6
            .mb-3
              label.form-label Origin
              place_search(v-model="entry.origin.location")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.origin.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-6
            .mb-3
              label.form-label Destination
              place_search(v-model="entry.destination.location")
          .col-sm-6
            .mb-3
              label.form-label Date
              datepicker(v-model="entry.destination.date" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-3.col-6
            .mb-3
              label.form-label 
                | Distance (km)
              .form-control-plaintext {{entry.distance}} {{entry.distance?'Kms':""}}
                a.renew.ml-3(href="#" @click.prevent="calculate_distance" v-if="entry.origin.location&&entry.destination.location&&!calc") 
                  i.feather-refresh-cw
          .col-sm-3.col-6
            .mb-3
              label.form-label Amount
              .form-control-plaintext Rs. {{entry.distance?(entry.distance*15).toFixed(2):0}}
          .col-sm-2.col-6
            .mb-3
              label.form-label Claim Actual
              label.form-check.form-switch
                input.form-check-input(type='checkbox' v-model="entry.claim")
          .col-sm-4.col-6
            .mb-3(v-if="entry.claim")
              form_input(v-model="entry.amount" type="number" label="Enter Actual Amount" :required="true")
        .row(v-if="entry.claim")
          .col-sm-6
          .col-sm-6
            form_file(v-model="entry.file" label="Attach Receipt" :required="true")

      modal#modal-da(title="DA" @save="saveDA" size="modal-lg")
        .row
          .col-sm-6
            form_input(v-model="entry.location" label="Work Location" :required="true")
          .col-sm-6
            form_select(v-model="entry.type" label="Category" :options='[{value:"inside", label:"Inside Kerala State"}, {value:"metro", label:"New Delhi/ Mumbai/ Kolkata/ Chennai"}, {value:"other", label:"Other Cities/Towns outside Kerala"}]')
        .row
          .col-sm-6
            .mb-3
              label.form-label Start Date
              datepicker(v-model="entry.start" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
          .col-sm-6
            .mb-3
              label.form-label End Date
              datepicker(v-model="entry.end" format="YYYY-MM-DD HH:mm" type="datetime" input-class="form-control" :required="true" :noLabel="false")
        .row
          .col-sm-3.col-6
            .mb-3
              label.form-label Claim Accomodation
              label.form-check.form-switch
                input.form-check-input(type='checkbox' v-model="entry.claim")
          .col-sm-4.col-6
            .mb-3(v-if="entry.claim")
              form_input(v-model="entry.cost" type="number" label="Cost of Accomodation" :required="true") 
          .col-sm-5.col-6(v-if="entry.claim")
            form_file(v-model="entry.file" label="Attach Receipt" :required="true")


</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import page from '../components/page'
import modal from '../components/modal'
import form_input from '../components/formInput'
import form_select from '../components/formSelect'
import placeSearch from '../components/placeSearch';
import form_file from '../components/formFile';

import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';
var CryptoJS = require("crypto-js");

import { mapState, mapActions } from 'vuex'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    page,
    modal,
    form_input,
    form_select,
    datepicker: VueCtkDateTimePicker,
    place_search: placeSearch,
    form_file
  },
  data(){
    return {
      edituser: {},
      editorder: {},
      calc: false,
      merging: false,
      incidental: [.8,.7,.6],
      allowance: {
        inside:[500, 450, 400],
        metro: [600, 550, 500],
        other: [550, 500, 400]
      },
      entry: {
        origin: {},
        destination: {}
      },
    }
  },
  watch:{
    'entry.claim'(val){
      if(!val){
        this.entry.amount = 0;
      }
    }
  },
  methods:{
    openModal(id){
      window.$(id).modal('show')
    },
    closeModal(id){
      window.$(id).modal('hide')
    },
    clearEntry(){
      this.entry = {
        origin: {},
        destination: {}
      }
    },
    openEditUser(){
      this.edituser = JSON.parse(JSON.stringify(this.user));
      this.openModal('#modal-user')
    },
    openOrderUser(){
      this.editorder = JSON.parse(JSON.stringify(this.order));
      this.openModal('#modal-order')
    },
    saveUser(){
      this.save_user(this.edituser);
      this.closeModal("#modal-user");
    },
    saveOrder(){
      this.store_order(this.editorder);
      this.closeModal("#modal-order");
    },
    saveTrain(){
      var newrecord = {
        origin : Object.assign({},this.entry.origin),
        destination: Object.assign({},this.entry.destination),
        mode: 'train',
        distance: this.entry.distance,
        claimed: parseFloat(this.entry.amount?this.entry.amount:0).toFixed(2),
        incidental: this.calc_incidental(this.entry.distance),
        file: this.entry.file?this.entry.file:null,
        remarks: this.entry.claim?'*':''
      }
      this.travel.push(newrecord);

      this.clearEntry();

      this.closeModal("#modal-train");
    },
    saveFlight(){
      var newrecord = {
        origin : Object.assign({},this.entry.origin),
        destination: Object.assign({},this.entry.destination),
        mode: 'flight',
        // distance: this.entry.distance,
        claimed: parseFloat(this.entry.amount).toFixed(2),
        incidental: 0,
        file: this.entry.file?this.entry.file:null,
        remarks: '*'
      }
      this.travel.push(newrecord);

      this.clearEntry();

      this.closeModal("#modal-flight");
    },
    saveCar(){
      var newrecord = {
        origin : {
          date: this.entry.origin.date,
          location: this.entry.origin.location.display_name
        },
        destination : {
          date: this.entry.destination.date,
          location: this.entry.destination.location.display_name
        },
        mode: 'car',
        distance: this.entry.distance,
        claimed: this.entry.claim?parseFloat(this.entry.distance*8.5).toFixed(2):0,
        incidental: this.calc_incidental(this.entry.distance),
        file: this.entry.file?this.entry.file:null,
        remarks: this.entry.claim?'* Co-Traveller:'+this.entry.cotraveller:''
      }
      this.travel.push(newrecord);

      this.clearEntry();

      this.closeModal("#modal-car");
    },
    saveLocal(){
      var newrecord = {
        origin : {
          date: this.entry.origin.date,
          location: this.entry.origin.location.display_name
        },
        destination : {
          date: this.entry.destination.date,
          location: this.entry.destination.location.display_name
        },
        mode: 'local',
        distance: this.entry.distance,
        claimed: this.entry.claim?parseFloat(this.entry.amount).toFixed(2):parseFloat(this.entry.distance*15).toFixed(2),
        incidental: 0,
        file: this.entry.file?this.entry.file:null,
        remarks: this.entry.claim?'*':''
      }
      this.travel.push(newrecord);

      this.clearEntry();

      this.closeModal("#modal-local");
    },
    saveDA(){
      var newrecord = {
        location: this.entry.location,
        start: this.entry.start,
        end: this.entry.end,
        //duration: '20',
        type: this.entry.type,
        cost: this.entry.claim?this.entry.cost:0,
        file: this.entry.file?this.entry.file:null,
        remarks: this.entry.claim?'*':''
      };
       
      this.da.push(newrecord);
      this.clearEntry();

      this.closeModal("#modal-da");
    },
    calc_incidental(distance){
      return distance?(distance * this.incidental[this.user.grade-1]).toFixed(2):0;
    },
    calculate_distance(){
      var vm = this;
      vm.calc = true;
      window.$.ajax({
          url: 'https://api.openrouteservice.org/v2/directions/driving-car',
          type: 'GET',
          dataType: 'json',
          data: {
              api_key: "5b3ce3597851110001cf6248c06976e755ee4ea39a4152542c160fc6",
              start: vm.entry.origin.location.lon+','+vm.entry.origin.location.lat,
              end: vm.entry.destination.location.lon+','+vm.entry.destination.location.lat,
              weighting: 'Shortest',
              distunit: 'M',
              routepref: 'Car',
          },
          error: function(error) {
              console.log(error)
              vm.calc = false;
          },
          success: function(res) {
              vm.$set(vm.entry,'distance', (res.features[0].properties.summary.distance/1000).toFixed(0));
              vm.calc = false;
          }
      });
    },
    deleteTravel(item){
      this.travel.splice(this.travel.indexOf(item),1);
    },
    deleteDA(item){
      this.da.splice(this.da.indexOf(item),1);
    },
    calculateDuration(item){
      var start = this.$moment(item.start);
      var end = this.$moment(item.end);
      var duration = this.$moment.duration(end.diff(start));
      var hours = duration.asHours();
      return hours.toFixed(0);
    },
    calulateDA(item){
      var duration = this.calculateDuration(item);
      var rate = this.allowance[item.type][this.user.grade-1];
      
      var chours = duration/24
      var actual = Math.round(chours);
      actual = chours>actual?actual+.5:actual;
      return (actual*rate).toFixed(2);
    },
    selectedFile() {      
      let file = this.$refs.filecontrol.files[0];
      var vm = this;
      let reader = new FileReader();
      reader.readAsText(file, "UTF-8");
      reader.onload =  evt => {
        var text = evt.target.result;

        var bytes  = CryptoJS.AES.decrypt(text, '0123456789');
        var decryptedData = JSON.parse(bytes.toString(CryptoJS.enc.Utf8));

        // console.log(decryptedData);
        // vm.user = decryptedData.user;
        // vm.order = decryptedData.order;
        // vm.travel = decryptedData.travel;
        // vm.da = decryptedData.da;

        vm.open_file({vm, data:decryptedData});

      }
      reader.onerror = evt => {
        console.error(evt);
      }
    },
    openurl(uri, name="file"){
      // window.open(url); return false;
      var link = document.createElement("a");
      link.download = name;
      link.href = uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      link = null;
    },
    generate_pdf(){
      this.merging = true;
      // window.pdfMake.createPdf(this.dd).open();
      if(this.order.date=="" || this.order.number==""){
        alert('Please enter Order Number and date');
        return;
      }
      var vm = this;
      window.pdfMake.createPdf(this.dd).getDataUrl(function(url){
        // console.log(url);
        vm.openurl(url, 'export.pdf');
        return;

        var pdfs = vm.travel.map(function(item){
          if(item.file){
            return item.file.file
          }
        });

        pdfs.unshift(url);
        
        console.log(pdfs);

        window.$.ajax({
          url: 'https://directory.startupmission.in/api/merge',
          type: 'POST',
          dataType: 'json',
          data: {
              pdfs: pdfs
          },
          error: function(error) {
              console.log(error);
              vm.merging = false;
          },
          success: function(res) {
              vm.openurl(res.data, 'export.pdf');
              vm.merging = false;
          }
        })

      })
    },
    save(){
      var output = {
        user : this.user,
        order : this.order,
        travel : this.travel,
        da: this.da
      }

      var output_string = CryptoJS.AES.encrypt(JSON.stringify(output), '0123456789').toString();

      var blob = new Blob([output_string], { type: "octet/stream" });
      var url = URL.createObjectURL(blob);

      window.open(url);
    },
    ...mapActions('travel',['checkorder','save_user','store_order','open_file'])
  },
  computed: {
    travel_total(){
      return this.travel.reduce(function(total, item){
        return total + parseFloat(item.claimed) + parseFloat(item.incidental)
      },0);
    },
    da_total(){
      var vm = this;
      return this.da.reduce(function(total, item){
        return total + parseFloat(item.cost) + parseFloat(vm.calulateDA(item))
      },0);
    },
    dd(){
      var vm = this;
      var travel_body = [
        [
            {text: 'Time', style: 'tableHeader', colSpan:2, alignment: 'center'}, '',
            {text: 'Place', style: 'tableHeader', colSpan:2, alignment: 'center'}, '',
            {text: 'Distance in KM', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
            {text: 'Mode of Conveyance', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
            {text: 'Amount Claimed in Rs.', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
            {text: 'Incidental Expence', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
            {text: 'Total', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
            {text: 'Remarks', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
        ],
        [
            {text: 'From', style: 'tableHeader', alignment: 'center'},
            {text: 'To', style: 'tableHeader', alignment: 'center'},
            {text: 'From', style: 'tableHeader', alignment: 'center'},
            {text: 'To', style: 'tableHeader', alignment: 'center'},
            
        ],
      ]
      // return travel_body;
      var travel_item = this.travel.map(function(item){
        return [
          vm.$moment(item.origin.date).format('DD-MMM-YYYY HH:mm'),
          vm.$moment(item.destination.date).format('DD-MMM-YYYY HH:mm'),
          {text: item.origin.location, alignment: 'center'},
          {text: item.destination.location, alignment: 'center'},
          item.distance?item.distance:'',
          {text: item.mode, alignment: 'center'},
          item.claimed,
          item.incidental,
          (parseFloat(item.claimed)+parseFloat(item.incidental)).toFixed(2),
          item.remarks?item.remarks:''
        ]
      });
      travel_body = travel_body.concat(travel_item);

      var count = 9 - travel_item.length;
      count = count>0?count:0;

      var blank_travel = [...Array(count)].map(()=>['','','','','','','','','','']);

      travel_body = travel_body.concat(blank_travel);

      travel_body.push(['','','',{text: 'Total (A)', style: 'tableHeader'},'','','','',{text: this.travel_total.toFixed(2), style: 'tableHeader'},''])
      // return travel_body;

      var da_body = [
        [
          {text: 'Work Location', style: 'tableHeader', rowSpan:2, alignment: 'center'},
          {text: 'Time', style: 'tableHeader', colSpan:2, alignment: 'center'}, '',
          {text: 'Duration of Halt (hours)', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
          {text: 'DA', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
          {text: 'Cost of Accomodation', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
          {text: 'Total', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
          {text: 'Remarks', style: 'tableHeader', rowSpan: 2, alignment: 'center'},
        ],
        [
          '',
          {text: 'From', style: 'tableHeader', alignment: 'center'},
          {text: 'To', style: 'tableHeader', alignment: 'center'},            
        ],
      ];

      var da_item = this.da.map(function(item){
        return [
          {text: item.location, alignment: 'center'},
          vm.$moment(item.start).format('DD-MMM-YYYY HH:mm'),
          vm.$moment(item.end).format('DD-MMM-YYYY HH:mm'),
          vm.calculateDuration(item),
          vm.calulateDA(item),
          parseFloat(item.cost).toFixed(2),
          (parseFloat(item.cost) + parseFloat(vm.calulateDA(item))).toFixed(2),
          item.remarks?item.remarks:''
        ]
      })
      
      da_body = da_body.concat(da_item);

      var dacount = 2 - da_item.length;
      dacount = dacount>0?dacount:0;

      var blank_da = [...Array(dacount)].map(()=>['','','','','','','','']);

      da_body = da_body.concat(blank_da);

      da_body.push(["", "", {text: 'Total (B)', style: 'tableHeader'}, "", "", "", {text: this.da_total.toFixed(2), style: 'tableHeader'}, "" ])

      var dd = {
        watermark: { text: 'KSUM Travel Claim Settlement', opacity: 0.1, bold: true, italics: false },
        // pageOrientation: 'landscape',
        pageSize: 'B3',
        // ownerPassword: '123456',
        permissions: {
          printing: false,//'highResolution', //'lowResolution'
          modifying: false,
          copying: false,
          annotating: true,
          fillingForms: true,
          contentAccessibility: true,
          documentAssembly: true
        },
        content: [
          {text: 'Application form for claiming travelling allowance', style: ['header','center']},
          {
            layout: 'lightHorizontalLines', // optional
            table: {
              widths: [ 'auto', '*','auto','*'],
              body: [
                [ { text: 'Name', bold: true }, this.user.name,{ text: 'Designation', bold: true }, this.user.designation],
                [ { text: 'Travel Order No.', bold: true }, this.order.number, { text: 'Date of sanctioning order', bold: true }, vm.$moment(this.order.date).format('DD-MMM-YYYY') ]
              ]
            }
          },
          {
            //layout: 'lightHorizontalLines', // optional
            table: {
              widths: [ 100,100,100,100, 50, 75, 55, 55, 55, '*'],
              heights: 20,
              body: travel_body
            },
            margin: [0, 20],
            style: 'table'
          },
          {
            //layout: 'lightHorizontalLines', // optional
            table: {
              widths: [ 150,100,100,100,75, 100, 75, '*'],
              heights: 20,
              body: da_body
            },
            style: 'table'
          },
          {
            columns: [
                  {
                    // auto-sized columns have their widths based on their content
                    width: '65%',
                    text: ''
                  },
                  {
                      text: 'Total (A+B): ' + (this.da_total + this.travel_total).toFixed(2), 
                      style: ['header'],
                  },
                  
              ],
              margin: [0, 25, 0, 0]
          },
          // {text: 'Additional Note', style: 'subheader'},
          // 'Lorem ipsum dolar',
          // {text: 'Settlement Note', style: 'subheader', margin: [0,25,0,0]},
          // 'Lorem ipsum dolar',
  // 		  { qr: 'text in QR', fit: '100' },
        ],
          styles: {
            header: {
              fontSize: 18,
              bold: true,
              margin: [0, 0, 0, 10]
            },
            subheader: {
              fontSize: 16,
              bold: true,
              margin: [0, 10, 0, 5]
            },
            tableExample: {
              margin: [0, 5, 0, 15]
            },
            tableHeader: {
              bold: true,
              fontSize: 13,
              color: 'black'
            },
            center:{
                alignment: 'center'
            },
            table:{
                alignment: 'right'
            },
            right:{
                alignment: 'right'
            }
          },
          defaultStyle: {
            // alignment: 'justify'
          }
          
        }
      return dd;
    },
    ...mapState('travel', ['user','order','travel','da']),
  },
  mounted(){
    var vm = this;
    this.checkorder().then(function(){
      
    }).catch(function(){
      vm.$router.push({name:'Order'});
    })
  }
}
</script>

<style lang="scss" scoped>
.details{
  font-size: 'Poppins';
  border: 1px solid #e7eaf3 ;
  transition: 0.3s;
  display: block;
  padding: 15px 30px;
  color: #1e2022;
  border-radius: 0.25rem;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.125);
  font-family: 'Poppins';
  // background: white;
}
.w-10{
  width: 15%;
}
.w-20{
  width: 20%;  
}
.w-30{
  width: 21%;
}
.card{
  background: transparent;
  border: none;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.125);
}
</style>

<style lang="scss">
.field-input{
  background: transparent !important;
}
.special-form {
  opacity: 1;
  color: transparent;
  width: auto;
  &:focus{
    outline: none;
  }
  &::before{
    content: 'Upload Saved File';
    display: inline-block;
    color: #666;
    padding: .375rem 1rem;
    height: 100%;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    // text-shadow: 1px 1px #fff;
    font-size: .9375rem !important;
    border-radius: 3px;
    font-weight: 700;
    line-height: 1.4666667;
    font-size: 10pt;
    background: #5eba00;
    color: white;
  }
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}
</style>
