<template lang="pug">
  page
    router-view
  
      

</template>

<script>
// @ is an alias to /src
import page from '@/components/page'

export default {
  name: 'Parent',
  components: {
    page
  }
}
</script>
