<template lang="pug">
  .mb-3
    .form-label {{label}}
    .form-file
      input#customFile.form-file-input(type='file' accept=".pdf" :required="required?true:false" @change="onChange")
      label.form-file-label(for='customFile')
        span.form-file-text {{value?value.name:'Select File...'}}
        span.form-file-button Browse
</template>

<script>
export default {
  props: ['required', 'label', 'value'],

  methods:{
    onChange(e){
      // get the files
      let vm = this;
      let files = e.target.files;
      let file = files[0];
      let reader = new FileReader()
      reader.readAsDataURL(file)
      reader.onload = () => {
        let fileinfo = {
          name: file.name,
          file: reader.result
        }
        vm.$emit('input', fileinfo);
      }
    }
  }

}
</script>
<style lang="scss" scoped>
.form-file-input{
  background: transparent !important;
}
</style>