<template lang="pug">
  .modal.modal-blur.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document' :class="size")
      form.modal-content(@submit.prevent="$emit('save')")
        .modal-header
          h5.modal-title {{title}}
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            | x
        .modal-body
          slot
        .modal-footer(v-if="!nofooter")
          button.btn.btn-secondary.mr-auto(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Save changes

</template>

<script>
export default {
  props: ['title', 'size', 'nofooter']
}
</script>