<template lang="pug">
  layout
    toasts
    slot

</template>

<script>
import layout from './layout';
import menu_template from './menu';
import toasts from './toasts';

export default {
  components: {
    layout,
    menu_template,
    toasts
  }  
}
</script>