<template lang="pug">
  layout
    //- template(v-slot:menu)
    //-   menu_template
    toasts
    slot

</template>

<script>
import layout from './layout';
import menu_template from './menu';
import toasts from './toasts';

export default {
  components: {
    layout,
    menu_template,
    toasts
  }  
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Poppins:400,700|Pacifico&display=swap');
  // @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
  @import '../assets/libs/jqvmap/dist/jqvmap.min.css';
  @import '../assets/libs/selectize/dist/css/selectize.css';
  @import '../assets/libs/fullcalendar/core/main.min.css';
  @import '../assets/libs/fullcalendar/daygrid/main.min.css';
  @import '../assets/libs/fullcalendar/timegrid/main.min.css';
  @import '../assets/libs/fullcalendar/list/main.min.css';
  @import '../assets/libs/flatpickr/dist/flatpickr.min.css';
  @import '../assets/libs/nouislider/distribute/nouislider.min.css';
  // @import 'https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css';
  // Tabler Core
  @import '../assets/css/tabler.min.css';
  // Tabler Plugins
  @import '../assets/css/tabler-flags.min.css';
  @import '../assets/css/tabler-payments.min.css';
  @import '../assets/css/tabler-buttons.min.css';
  @import '../assets/css/feather.css';

  @import '../assets/css/demo.min.css';

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
}

a {
  font-family: 'Poppins', sans-serif;
}

li {
  font-family: 'Poppins', sans-serif;
}

  .card{
    &.loading{
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px);
        z-index: 100;
      }
      &::after{
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: text-bottom;
        border: 2px solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spinner-border .75s linear infinite;
        position: absolute;
        top:50%;
        left: 50%;
        margin-left: -.75rem;
        margin-top: -.75rem;
        color: #45aaf2!important;
        z-index: 101;
      }
      @keyframes spinner-border {
        to { transform: rotate(360deg); }
      }
    }
  }

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
</style>