<template lang="pug">
  selectize.select-place(:value="JSON.stringify(value)" :settings="settings")
</template>

<script>
import Selectize from 'vue2-selectize'

export default {
  props: ['value'],
  components: {
    Selectize
  },  
  data() {
    var vm = this;
    return {
      settings: {
        valueField: 'value',
        labelField: 'label',
        searchField: 'label',
        options: [],
        create: false,
        // render: {
        //     // option: function(item, escape) {
        //     //     var actors = [];
        //     //     for (var i = 0, n = item.abridged_cast.length; i < n; i++) {
        //     //         actors.push('<span>' + escape(item.abridged_cast[i].name) + '</span>');
        //     //     }

        //     //     return '<div>' +
        //     //         '<img src="' + escape(item.posters.thumbnail) + '" alt="">' +
        //     //         '<span class="title">' +
        //     //             '<span class="name">' + escape(item.title) + '</span>' +
        //     //         '</span>' +
        //     //         '<span class="description">' + escape(item.synopsis || 'No synopsis available at this time.') + '</span>' +
        //     //         '<span class="actors">' + (actors.length ? 'Starring ' + actors.join(', ') : 'Actors unavailable') + '</span>' +
        //     //     '</div>';
        //     // }
        // },
        load: function(query, callback) {
            console.log(query);
            if (!query.length) return callback();
            window.$.ajax({
                url: 'https://nominatim.openstreetmap.org/search.php',
                type: 'GET',
                dataType: 'json',
                data: {
                    q: query,
                    format: 'json',
                },
                error: function() {
                    callback();
                },
                success: function(res) {
                    console.log(res);
                    var data = res.map(function(item){
                      return {
                        label : item.display_name,
                        value : JSON.stringify(item)
                      }
                    })
                    callback(data);
                }
            });
        },
        onChange: function(value){
          // console.log(value);
          vm.$emit('input', JSON.parse(value));
        }
      },
      
    }
  },
}
</script>

<style lang="scss">
.select-place{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selectize-input{
  background: #fff !important;
}
</style>