<template lang="pug">
  .toasts(style="position: fixed;top: 10px;right: 10px;z-index: 99;")
    toast(v-for="(toast,index) in toasts" :toast="toast" :key="index" @close="toast.dismiss=true")
</template>

<script>
import {mapState} from 'vuex';
import toast from './toast';

export default {
  components: {
    toast
  },
  data(){
    return {
      
    }
  },
  computed:{
    ...mapState('toast', ['toasts'])
  }
}
</script>