<template lang="pug">
  .toast.show(role='alert' style="width: 350px" :class="toast.dismiss?'':'show'" v-if="toast.message && !toast.dismiss")
    .toast-header
      span.avatar.avatar-sm.mr-2
      strong.mr-auto Message
      button.ml-2.close(type='button' aria-label='Close' @click="toast.dismiss=true")
        span(aria-hidden='true') &times;
    .toast-body
      | {{toast.message}}
</template>

<script>
export default {
  props: ['toast'],
  mounted(){
    setTimeout(() => this.$emit('close'), 3000)
  }
}
</script>