<template lang="pug">
  page
    .flex-fill.d-flex.flex-column.justify-content-center
      .container-tight.py-6
        .text-center.mb-4
          img(src="@/assets/logo.png")
          //- h2 Portal
        form.card.card-md(action="#" method="post" @submit.prevent="loginAction()")
          //- input(name="_token" :value="csrf_token" type="hidden")
          .card-body
            h2.mb-5.text-center Login to your account
            .mb-3
              label.form-label Email address
              input.form-control(:class="errors.email?'is-invalid':''" name="email" type='email' placeholder='Enter email' autocomplete='off' v-model="form.email")
              form_error(:errors="errors.email")
            .mb-2
              label.form-label
                | Password
                span.form-label-description
                  router-link(:to="{name:'Forgot'}") I forgot password
              
              input.form-control(:class="errors.password?'is-invalid':''" name="password" type='password' placeholder='Password' v-model="form.password")
              form_error(:errors="errors.password")
            .mb-2
              label.form-check
                input.form-check-input(type='checkbox' v-model="form.remember")
                span.form-check-label Remember me on this device
            .form-footer.text-center
              loading_btn.btn-block(type='submit' :loading="sending") Sign in

</template>

<script>
import { mapState, mapActions } from 'vuex'
import loadingBtn from '@/components/loadingBtn';
import form_error from '@/components/formErrors';
import page from '@/components/page_blank';

export default {
  components:{
     'loading_btn': loadingBtn,
     form_error,
      page
  },
  data(){
    return {
      form: {
        email: '',
        password: '',
        remember: null,
      },
    }
  },
  computed: {
    ...mapState('api', ['errors','sending']),
  },
  methods:{
    loginAction(){
      this.login(this);
    },
    ...mapActions('auth',['login','load_user'])
  },
  mounted(){
    this.load_user(this);
  }
}
</script>