<template lang="pug">
  page
    .flex-fill.d-flex.flex-column.justify-content-center
      .container-tight.py-6
        .text-center.mb-4
          img(src="@/assets/logo.png")
          //- h2 Portal
        form.card.card-md(action="#" method="post" @submit.prevent="loginAction()")
          //- input(name="_token" :value="csrf_token" type="hidden")
          .card-body
            h2.mb-5.text-center Reset Password
            .mb-2
              label.form-label Password
              input.form-control(:class="errors.password?'is-invalid':''" name="password" type='password' placeholder='Password' v-model="form.password")
              form_error(:errors="errors.password")
            .mb-2
              label.form-label Confirm Password
              input.form-control(:class="errors.password_confirmation?'is-invalid':''" name="password_confirmation" type='password' placeholder='Password' v-model="form.password_confirmation")
              form_error(:errors="errors.password_confirmation")
            .form-footer.text-center
              loading_btn.btn-block(type='submit' :loading="sending") Set Password

</template>

<script>
import { mapState, mapActions } from 'vuex'
import loadingBtn from '@/components/loadingBtn';
import form_error from '@/components/formErrors';
import page from '@/components/page_blank';

export default {
  props: ['email', 'token'],
  components:{
     'loading_btn': loadingBtn,
     form_error,
      page
  },
  data(){
    return {
      form: {
        email: this.email,
        password_confirmation: '',
        password: '',
        token: this.token
      },
    }
  },
  computed: {
    ...mapState('api', ['errors','sending']),
  },
  methods:{
    loginAction(){
      var vm = this;
      this.call({_vm: vm, endpoint: `password/reset/${this.token}`, method: 'POST', data: this.form}).then(()=>{
        vm.$router.push('/login');
      });
    },
    ...mapActions('api',['call'])
  }
}
</script>