<template lang="pug">
  div
    page_header(title="Users", subhead="Edit")
      router-link.btn.btn-primary.ml-3.d-none.d-sm-inline-block(:to='{name: "users.index"}')
        i.feather-arrow-left
        | Back
    
    .row
      .col-sm-6
        form.card(@submit.prevent="submit" :class="sending?'loading':''")
          .card-body.border-bottom.p-5
            .row
              .col-sm-12
                form_input(type="text" name="name" label="Name" placeholder="Enter User Name" v-model="form.name")              
                form_input(type="text" name="email" label="Email" placeholder="Enter Email ID" v-model="form.email")
                form_input(type="text" name="phone" label="Phone" placeholder="Enter Phone Number" v-model="form.phone")
                .mb-3
                  label.form-label Role
                  select.form-select(v-model="form.role")
                    option(v-for="item in roles" :value="item.id") {{item.name}}
                  form_error(:errors="errors?errors['role']:[]")

            .d-flex.align-items-center
              a.btn.btn-link Back
              loadingBtn.ml-auto(type="submit" :disabled='sending') Save

  
      

</template>

<script>
// @ is an alias to /src

import page_header from '@/components/pageHeader'
import form_input from '@/components/formInput'
import loadingBtn from '@/components/loadingBtn'
import form_select from '@/components/formSelect'
import { mapActions, mapState } from 'vuex'
export default {
  name: 'Users',
  props: ['id'],
  components: {
    page_header: page_header,
    form_input,
    form_select,
    loadingBtn
  },
  data(){
    return {
      roles: [],
      form: {

      }
    }
  },
  computed: {
    ...mapState('api', ['errors', 'sending'])
  },
  methods:{
    submit(){
      var vm = this;
      this.call({_vm:this, endpoint: 'admin/users/'+this.id, method: 'PUT', data: this.form})
    },
    ...mapActions('api', ['call'])
  },
  mounted(){
    var vm = this;
    this.call({_vm: vm, endpoint: `admin/users/${this.id}/edit`, method: 'GET'}).then((response)=>{
      vm.roles = response.roles;
      vm.form = {
        name: response.data.name,
        email: response.data.email,
        phone: response.data.phone,
        role: response.data.role_id,
        
      };
    })
  }
}
</script>
